<mat-toolbar color = "primary">
    <span> Creación de cuenta - Selección</span>
</mat-toolbar>
<h2 class= "titulo">Seleccione el tipo de cuenta a crear</h2>
<div class = "body">
    <div>
        <div class = "crear">
            <img src="../../../assets/Images/adopcion.png" width= "70%">
            <p></p>
                <button  class = "ancho button" mat-raised-button color="primary" routerLink = "/crear-cuenta/crear-adoptante">
                    Adoptante
                </button>
        </div>
    </div>
    <div>
        <img src="../../../assets/Images/cuidado-animal.png" width= "70%">
        <p></p>
        <button  class = "ancho button" mat-raised-button color="warn">Fundación</button>
</div>
